@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.landing-page-container {
  font-family: 'Poppins', sans-serif;
  color: #141413;
  background: linear-gradient(to right, #aab1c2, #645bff);
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

/* Navbar Styling */
.navbar {
  padding: 20px;
  background-color: #f0efee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-container nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #1a1919;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #ccc;
}

/* Hero Section */
.hero-section {
  flex: 1; /* Takes remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  padding: 15px 30px;
  background-color: #f09d51;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #009a60;
}

footer {
  background-color: #f5f5f7;
  color: rgb(19, 18, 18);
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
